{% extends 'app/base.html' %}

    {% block content %}
    <center>  <h1 class="display-3">Our Cute Pet List</h1> </center>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Sex</th>
            <th scope="col">age</th>
            <th scope="col">Sumission</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for pet in pets %}
          <tr>
            <th scope="row">{{pet.id}}</th>
            <td>{{pet.name}}</td>
            <td>{{pet.sex}}</td>
            <td>{{pet.age}}</td>
            <td>{{pet.submission_date}}</td>
            <td><a href="{% url 'app:pet_detail' pet.id %}" class="btn btn-info btn-lg">Detail </a></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
      
     

    {% endblock %}